@font-face {
  font-family: replica-sans-serif;
  src: url(fonts/Replica-Regular.ttf);
}
.link-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  color: #fff;
}