@font-face {
  font-family: "replica-sans-serif";
  src: url(fonts/Replica-Regular.ttf);
}

.footer {
  font-family: "replica-sans-serif";
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.ul-footer {
  list-style: none;
  padding: 0;
}

.li-footer {
  display: inline;
  margin-right: 10px; /* optional, adds some spacing between list items */
}
.page {
  color: #241f1c;
  font-family: "replica-sans-seri";
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  word-spacing: .015em;
}

.a-footer {
  display: inline;
  margin-top: 1rem;
}